<p>
  <textarea name="t2" data-rte="{toolbar: 'basic'}">
<h2>Hello There!</h2>
<p>
<img src="http://rightjs.org/images/test/1-thmb.jpg" />
<b>Bold</b> <i>italic</i> <u>underline</u> <s>strike through</s> <tt>code_block</tt>
</p>
<p>
Some other code to fill the thing in and <a href="/boo.hoo">make</a> fold around the image,
so that <a href="/boo.hoo">all the stuff</a> that goes after it would <a href="/boo.hoo">look nice</a>,
because we love nice things
</p>
<p>
Just some more text to make it look decent
</p>
<p>
<blockquote>ho ho ho! this is a blockqoute thing!</blockquote>
</p>
<p>
<pre>
and this is a
pre   formatted
piece of     code
booo!</pre>
</p>
<p>
<tt>inline(code)</tt>, some text in here
</p></textarea>
</p>