<p>
  <textarea name="t3" data-rte="{toolbar: 'extra'}">
<h2>Hello There!</h2>
<p>
<img src="http://rightjs.org/images/test/2-thmb.jpg" />
<b>Bold</b> <i>italic</i> <u>underline</u> <s>strike through</s> <tt>code_block</tt>
</p>
<p>
Some other code to fill the thing in and <a href="/boo.hoo">make</a> fold around the image,
so that <a href="/boo.hoo">all the stuff</a> that goes after it would <a href="/boo.hoo">look nice</a>,
because we love nice things
</p>
<p>
Just <span style="background-color: #FF0">some more</span>
<span style="color:#080">text</span> to <span style="color: #F00">make it</span> look decent
</p>
<p>
<blockquote>ho ho ho! this is a blockqoute thing!</blockquote>
</p>
<p>
<pre>
and this is a
pre   formatted
piece of     code
booo!</pre>
</p>
<p>Some more text in here</p></textarea>
</p>