<p>
  <ul class="rui-billboard" data-billboard="{fxName: 'fade', autostart: false}">
    <li><img src="/images/test/2-med.jpg" /></li>
    <li><img src="/images/test/3-med.jpg" /></li>
    <li><img src="/images/test/4-med.jpg" /></li>
  </ul>
</p>