<p>
  <ul class="rui-billboard text-example" data-billboard="{prevButton: 'prev-txt', nextButton: 'next-txt', autostart: false}">
    <li style="background: white">
      Lorem ipsum dolor sit amet, <b>consectetur</b> adipisicing elit, sed do <em>eiusmod t</em>empor incididunt ut labore et dolore magna aliqua. <u>Ut enim ad mi</u>nim veniam, quis nostrud <i>exercitati</i>on ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in volu<b>ptate velit </b>esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupida<u>tat non proident</u>, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </li>
    <li style="background: yellow">
      Duis aute irure dolor in reprehenderit in volu<b>ptate velit </b>esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupida<u>tat non proident</u>, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, <b>consectetur</b> adipisicing elit, sed do <em>eiusmod t</em>empor incididunt ut labore et dolore magna aliqua. <u>Ut enim ad mi</u>nim veniam, quis nostrud <i>exercitati</i>on ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </li>
    <li style="background: pink">
       <u>Ut enim ad mi</u>nim veniam, quis nostrud <i>exercitati</i>on ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in volu<b>ptate velit </b>esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, <b>consectetur</b> adipisicing elit, sed do <em>eiusmod t</em>empor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupida<u>tat non proident</u>, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </li>
  </ul>
  <div class="swap-links">
    <a href="" id="prev-txt">&larr; Prev</a> |
    <a href="" id="next-txt">Next &rarr;</a>
  </div>
</p>