<ul>
  <li><a href="#firefox">Firefox</a> 3.6.10 (Gecko/20100914) OS X 10.6.4</li>
  <li><a href="#safari">Safari</a> 5.0.2 (6533.18.5) OS X 10.6.4</li>
  <li><a href="#chrome">Google Chrome</a> 6.0.472.63  OS X 10.6.4</li>
  <li><a href="#opera">Opera</a> 10.62 (Build 8437) OS X 10.6.4</li>
  <li><a href="#konq">Konqueror</a> 4.4.2 Ubuntu 10.04, VMWare Fusion</li>
  <li><a href="#ie8">Internet Explorer 8</a> (8.0.6001.18702) Windows XP SP3, VMWare Fusion</li>
  <li><a href="#ie7">Internet Explorer 7</a> (7.0.5730.13) Windows XP SP3, VMWare Fusion</li>
  <li><a href="#ie6">Internet Explorer 6</a> (6.0.2900.5512) Windows XP SP3, VMWare Fusion</li>
</ul>
