<% content_for :modules, stylesheet_link_tag('custom-build') %>
<% content_for :modules, javascript_include_tag('/builds/scripts.js') %>

<form action="<%= custom_builds_path %>" id="custom-build-form" method="post">
  <p>
    <ul>
      <%= [
        ['cookie',   'pages.builds.modules.cookie'.t     ],
        ['form',     'pages.builds.modules.form'.t       ],
        ['xhr',      'pages.builds.modules.xhr'.t        ],
        ['fx',       'pages.builds.modules.fx'.t         ],
        ['events',   'pages.builds.modules.events'.t     ],
        ['minify',   'pages.builds.modules.minify'.t     ],

        ['olds',     'pages.builds.modules.olds'.t, true ],
        ['safe',     'pages.builds.modules.safe'.t, true ]
      ].collect do |options|
        "<li>"+
            check_box_tag("options[#{options.first}]", 1, !options[2] && options[0] != 'olds') +
            label_tag("options_#{options.first}", options[1])+
        "</li>"

      end.join("\n")
      %>
    </ul>

  </p>

  <p class="buttons">
    <input type="submit" value="<%= 'pages.builds.Create'.t %>" />
    <input type="reset"  value="<%= 'pages.builds.Reset'.t %>" id="form-reset" />
  </p>
</form>
