<p>
  <input type="text" name="val3" rel="colorpicker" data-colorpicker-options="{fxDuration: 'short'}" />
  <input type="text" name="val4" id="colorpicker-field" />
  <a href="#" rel="colorpicker[colorpicker-field]" data-colorpicker-options="{format:'rgb'}">set</a>
</p>
