<p>
  <input type="text" name="val3" rel="colorpicker" data-colorpicker="{fxDuration: 'short'}" />
  <input type="text" name="val4" id="colorpicker-field" />
  <a href="#" data-colorpicker="{format:'rgb', update:'colorpicker-field'}">set</a>
</p>
