<p>
  <div id="inline-test-2">
    <div id="inline-test-2-out"></div>
  </div>
</p>

<script type="text/javascript">
// <![CDATA[
  new Colorpicker({
    updateBg: 'inline-test-2-out'
  }).insertTo('inline-test-2', 'top');
// ]]>
</script>
