<p>
  <div class="slider-demo">
    <div class="rui-slider" data-slider="{update: 'slider-out-1'}">
      <div class="level"></div><div class="handle"></div>
    </div>
    <input type="text" class="slider-out" id="slider-out-1" />
  </div>
  <div class="slider-demo-vertical">
    <input type="text" class="slider-out" id="slider-out-2" />
    <div class="rui-slider rui-slider-vertical" data-slider="{update: 'slider-out-2'}">
      <div class="level"></div><div class="handle"></div>
    </div>
  </div>
  <div style="clear:left"> </div>
</p>
